li {
    list-style: none;
    width: 180px;
    height: 180px;
    background-color: #9796f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff33;
  }
  
  li img {
    width: 100px;
    height: 100px;
  }
  
  li button {
    background-color: transparent;
    border: none;
  }
  