.container {
    width: 100%;
    height: 738px;
    background-image: linear-gradient(#6a59ff, #9796f0, #fbc7d4);
    /* overflow: hidden; */
  }
  
  ul {
    margin: auto;
    width: 60%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  